
<div class=''>
	<div id='menu'>
		<h2 class="title text-center">Banquet</h2>
		<p class='text-center'>
			Select from three popular serving options tailored to accommodate 10 guests per table. Should any menu item not align with your preferences, we are happy to substitute dishes to suit your palate.
			We also offer both budget-friendly and upscale alternatives. For additional details, please contact us directly.
		</p>
		<div class="row">

			<div class='col-sm-12 col-md-4'>
				<h3 class="subtitle">$598</h3>
				<ol class="menu">
					<li>B.B.Q Combination Platter</li>
					<li>teriyaki sauce beef with mushroom</li>
					<li>sauteed catilefish & sauce chicken</li>
					<li>sun dried scallop soup</li>
					<li>braised whole abalone with shitake mushrooms</li>
					<li>house special tea smoked chicken</li>
					<li>baked lobster in garlic butter sauce</li>
					<li>steamed live fish</li>
					<li>yangzhou fried rice</li>
					<li>special dessert of the day</li>
				</ol>
				<br>
				<h3 class="subtitle">$768</h3>
				<ol class="menu">
					<li>special roasted suckling piglet platter</li>
					<li>guilin deep fried shrimp ball</li>
					<li>sauteed scallops with tender green</li>
					<li>bird's nest soup with shredded chicken</li>
					<li>house special tea smoked chicken</li>
					<li>braised whole abalone with shitake mushrooms</li>
					<li>lobster with ginger and scallion</li>
					<li>smoked sea bass</li>
					<li>sun dried scallop egg white fried rice</li>
					<li>special dessert of the day</li>
				</ol>
				<br>
				<h3 class="subtitle">$868</h3>
				<ol class="menu">
					<li>fresh fruit salad with jumbo lobster</li>
					<li>sauteed scallop and giant clam</li>
					<li>sauteed dixewd beef in teriyaki sauce</li>
					<li>bird's nest soup with shredded chicken</li>
					<li>braised whole abalone</li>
					<li>medallion roasted squabs(2)</li>
					<li>baked crab portuguese style</li>
					<li>steamed live fish</li>
					<li>supreme house fried rice</li>
					<li>special dessert of the day</li>
				</ol>
			</div>
			<div class='col-sm-12 col-md-4'>
				<h3 class="subtitle">$688</h3>
				<ol class="menu">
					<li>combination platter</li>
					<li>honey walnut prawns</li>
					<li>sauteed diced beef with wine sauce</li>
					<li>fish maw with seafood soup</li>
					<li>steamed free ranch chicken</li>
					<li>braised whole abalone with tender green</li>
					<li>baked crab with ginger and green onion</li>
					<li>steamed liver fish</li>
					<li>house special fried rice</li>
					<li>petite four</li>
				</ol>
				<br>
				<h3 class="subtitle">$998</h3>
				<ol class="menu">
					<li>special roasted suckling piglet platter</li>
					<li>gingko deep fried shrimp ball</li>
					<li>rainbow scallop</li>
					<li>bird's nest soup with fresh crab meat</li>
					<li>braised sea cucumber with whole abalone</li>
					<li>peaking duckling</li>
					<li>baked lobster in supreme broth</li>
					<li>smoked sea bass</li>
					<li>braised e-fu noodle with sun dried scallop</li>
					<li>special dessert of the day</li>
				</ol>

			</div>
			<div class='col-sm-12 col-md-4'>

    
        <img src="/images/wedding_decoration.jpg" style='width:100%;' alt='Pacific Lighthouse wedding decoration at VIP room.'>
        <br><br>
        <img src="/images/wedding.jpg" style='width:100%;' alt='Wedding decoration at the Alameda Pacific Lighthouse.'>
        <br><br>
        <img src="/images/wedding_decoration_2.jpg" style='width:100%;' alt='Wedding decoration at the center of the Alameda Pacific Lighthouse.'>
			</div>
		</div>
	</div>
</div>