<div class='container'>
	<div class='content'>
		<h2 class="title text-center">WE ARE HIRING</h2>
		<div class="row">
			<div class='col-sm-12'>
				<h3 class="subtitle">Busser</h3>
				<p>
					<b>Job Summary:</b> <br>
					As a Busser, you will play a pivotal role in maintaining the cleanliness and efficiency of our dining area, contributing to an exceptional guest experience. Your primary responsibilities will include clearing tables, removing used dishes, and promptly resetting tables for new guests. Additionally, you will support servers by refilling water glasses, providing additional utensils, and addressing immediate guest needs. Your attention to detail and proactive approach will be essential in creating a welcoming and organized environment, ultimately enhancing customer satisfaction.
					<br><br>
					<b>Key Responsibilities:</b>
					<ol>
					<li>. Clear tables efficiently and promptly after guests have finished their meals.</li>
					<li>. Remove used dishes, glassware, and utensils from tables and transport them to the kitchen for cleaning.</li>
					<li>. Reset tables with clean tableware and arrange them according to restaurant standards.</li>
					<li>. Assist servers by refilling water glasses and providing additional utensils as needed.</li>
					<li>. Respond promptly to guest requests and ensure a positive dining experience.</li>
					<li>. Collaborate with kitchen staff and servers to maintain smooth communication and workflow.
					<li>. Monitor and maintain cleanliness in the dining area, including floors and seating areas.</li>
					<li>. Work closely with the front-of-house team to ensure a seamless and enjoyable dining experience for guests.</li>
					<li>. Adhere to health and safety standards, including proper sanitation and hygiene practices.</li>
					<li>Perform other duties as assigned by supervisory or management staff.</li>
					</ol>
				</p>
				<p>
					We're willing to train the right person. Bilingual in both Cantonese and English would be a definite plus! For more information and/or quickest response, please email <u>pacificlighthouse88@gmail.com</u> with resume and a phone number to initiate interview.
				</p>
			</div>

		</div>
	</div>

</div>