
<div class='container'>
	<div id='menu'>
		<h2 class="title text-center">Catering & Party Trays</h2>
		<p class='text-center'>
			At Alameda Pacific Lighthouse, we are delighted to provide catering services and party trays tailored for your in-house events. Whether you're hosting a birthday celebration, corporate event, or a casual get-together, we offer a variety of dishes that are sure to satisfy your palate.
		</p>
		<p class='text-center'>
			We offer small, medium, and large trays for each of the dishes below. For pricing, please call us at 510-263-9232.
		</p>
		<div class="row">
			<div class='col-sm-12'>
				<table class='table table-sm'>

<tr><td>Braised Veggies w/ Mushroom</td><td>北菇扒時蔬 </td></tr>
<tr><td>Braised Tofu & Vegetable</td><td>紅燒豆腐 </td></tr>
<tr><td>Sauteed Mixed Vegetable</td><td>清炒雜菜 </td></tr>
<tr><td>Broccoli Beef</td><td>西蘭牛肉 </td></tr>
<tr><td>Vegetable Beef</td><td>菜遠牛肉 </td></tr>
<tr><td>Mongolian Beef</td><td>蒙古牛肉 </td></tr>
<tr><td>Szechuan Beef</td><td>四川牛肉 </td></tr>
<tr><td>Kung Pao Chicken</td><td>宮保雞球 </td></tr>
<tr><td>Cashew Chicken</td><td>腰果雞球 </td></tr>
<tr><td>Lemon Chicken</td><td>檸檬雞片 </td></tr>
<tr><td>General Tso Chicken</td><td>左宗棠雞 </td></tr>
<tr><td>Broccoli Chicken</td><td>西蘭雞球</td></tr>
<tr><td>Salt & Pepper Pork Ribs</td><td>椒鹽肉排</td></tr>
<tr><td>Peking Spareribs</td><td>京都肉排</td></tr>
<tr><td>Spicy Garlic Shredded Pork</td><td>魚香肉絲 </td></tr>
<tr><td>Spicy Garlic Egg Plant</td><td>魚香茄子 </td></tr>
<tr><td>Sweet & Sour Pork</td><td>菠蘿咕嚕肉 </td></tr>
<tr><td>Sweet & Sour Prawn</td><td>甜酸蝦球 </td></tr>
<tr><td>Sauteed Prawn & Scallop</td><td>油泡帶子 </td></tr>
<tr><td>Kung Pao Scallop</td><td>宮保帶子 </td></tr>
<tr><td>Salt & Pepper Fried Shrimp</td><td>椒鹽中蝦</td></tr>
<tr><td>Salt & Pepper Fried Cod Fillet</td><td>椒鹽斑片</td></tr>
<tr><td>Sweet & Sour Fried Cod Fillet</td><td>甜酸斑片</td></tr>
<tr><td>Sauteed Cod Fillet</td><td>油泡斑球</td></tr>
<tr><td>Fried Cod Fillet in Sweet Corn </td><td>玉米斑片</td></tr>
<tr><td>Beef Chow Fun</td><td>乾炒牛河</td></tr>
<tr><td>Soy Chow Mein</td><td>豉油皇炒麵</td></tr>
<tr><td>Shredded Chicken Chow Mein</td><td>雞絲炒麵</td></tr>
<tr><td>BBQ Pork Chow Mein</td><td>叉燒炒麵</td></tr>
<tr><td>Sesame Chicken Salad</td><td>生菜雞絲沙律</td></tr>
<tr><td>Salted Fish Chicken Fried Rice</td><td>鹹魚雞粒炒飯</td></tr>
<tr><td>Yang Chow Fried Rice</td><td>揚州炒飯</td></tr>
<tr><td>BBQ Pork Fried Rice</td><td>叉燒炒飯</td></tr>
<tr><td>Ground Beef Fried Rice</td><td>生炒牛肉飯</td></tr>
<tr><td>Shredded Chicken Fried Rice</td><td>雞絲炒飯</td></tr>
<tr><td>Singapore Fried Vermicelli</td><td>星洲炒米</td></tr>
<tr><td>Home-style Fried Vermicelli</td><td>家鄉炒米</td></tr>
<tr><td>Shredded Meat Fried Vermicelli</td><td>三絲炒米</td></tr>
<tr><td>Shrimp Chow Fun</td><td>乾炒蝦河</td></tr>
<tr><td>Seafood Chow Mein</td><td>海鮮炒麵</td></tr>
<tr><td>Seafood Chow Fun</td><td>海鮮炒河</td></tr>
<tr><td>Dried Scallop Egg White Fried Rice</td><td>瑤柱蛋白炒飯</td></tr>
<tr><td>Shrimp Egg Roll</td><td>鮮蝦春卷</td></tr>
<tr><td>Pot Stickers</td><td>生煎窩貼</td></tr>


</table>






			</div>
		</div>
	</div>
</div>