
<div class='container'>
	<div id='menu'>
		<h2 class="title text-center">Dim Sum</h2>
		<p class='text-center'>
			Dim sum is only served from 10:30AM to 3:00PM
		</p>
		<div class='row'>
			<div class='col-sm-12 col-md-3'>
				<h3 class="subtitle">Steamed</h3>
				<ol class='menu'>
					<li>steamed chicken feet</li>
					<li>Steamed pork ribs in black bean sauce</li>
					<li>Steamed beef tripe in ginger sauce</li>
					<li>Steamed beef ball</li>
					<li>Steamed siu mai</li>
					<li>Steamed chiu chow dumpling</li>
					<li>Steamed zhongshan style pork dumpling</li>
					<li>Steamed pea sprout shrimp dumpling</li>
					<li>House special shrimp dumpling</li>
					<li>Steamed shanghai dumpling</li>
					<li>Steamed spinach shrimp dumpling</li>
					<li>Steamed sticky rice in lotus leaf</li>
					<li>Abalone shrimp dumpling soup</li>
					<li>Steamed dance fish ball with asorted cured meat</li>
					<li>Steamed bean curd shrimp rolls</li>
					<li>Steamed rice noodle with pork ribs</li>
					<li>steamed taro dumpling</li>
					<li>steamed scallop siu mai</li>
					<li>dumpling with minced mushroom</li>
					<li>zhongshan peanut</li>
					<li>zhongshan bacon zongzi</li>
					<li>zhongshan salted dumpling</li>
					<li>spicy beef tendon</li>
				</ol>

			</div>
			<div class='col-sm-12 col-md-3'>
				<h3 class="subtitle">Bun</h3>
				<ol class='menu'>
					<li>golden egg polk bun</li>
					<li>chinese sausage roll</li>
					<li>steamed bbq pork bun</li>
					<li>baked black sesame bun</li>
					<li>steamed egg custard bun</li>
					<li>pan fried chicken bun</li>
					<li>steamed walnut bun</li>
					<li>steamed sweet egg yolk bun</li>
				</ol>
				<h3 class="subtitle">Baked</h3>
				<ol class='menu'>
					<li>Baked bbq pork puff</li>
					<li>French style baked bbq pork bun</li>
					<li>baked custard bun</li>
					<li>baked custard tart</li>
					<li>baked portuguese custard tart</li>
				</ol>
				<h3 class="subtitle">Rice Noodle Roll</h3>
				<ol class='menu'>
					<li>golden egg polk bun</li>
					<li>bbq pork rice noodle roll</li>
					<li>beef rice noodle roll</li>
					<li>steamed rice noodle rolls</li>
					<li>vegetarian rice noodle roll</li>
					<li>shrimp rice noodle roll</li>
					<li>egg and green onion noodle roll</li>
					<li>chinese donut rice noodle roll</li>
					<li>steamed shrimp crispy rice noodle roll</li>
					<li>pork ribs rice noodle roll</li>
				</ol>
			</div>
			<div class='col-sm-12 col-md-3'>
				<h3 class="subtitle">Pan-Fried & Deep Fried</h3>
				<ol class='menu'>
					<li>Deep fried minced pork dumpling</li>
					<li>durian puff</li>
					<li>fried flaky taro dumpling</li>
					<li>pan fried onion cake</li>
					<li>pan fried salt cake</li>
					<li>pot sticker</li>
					<li>pan fried tunip cake</li>
					<li>deep fried bean curd shrimp roll</li>
					<li>fried chives shrimp egg roll</li>
					<li>fried flaky shrimp roll</li>
					<li>pan fried chives dumpling</li>
					<li>deep fried shrimp dumpling</li>
					<li>daokon puff</li>
					<li>pan fried taro cake</li>
					<li>pumpkin with salted egg yolk</li>
					<li>shrimp stuffed with tofu</li>
				</ol>
				<h3 class="subtitle">Dessert</h3>
				<ol class='menu'>
					<li>vegetarian sesame roll</li>
					<li>mango coconut pudding</li>
					<li>glutinous rice dumpling w/ black sesame paste</li>
					<li>wormwood bun</li>
					<li>steamed sponge cake</li>
					<li>cocnut osmanthus pudding</li>
					<li>mango pudding</li>
					<li>fried sesame balls</li>
					<li>sweet chinese donut</li>
					<li>durian mochi</li>
				</ol>
			</div>
			<div class='col-sm-12 col-md-3'>
				<h3 class="subtitle">BBQ Oven</h3>
				<ol class='menu'>
					<li>pork belly with chicken</li>
					<li>spicy garlic cucumber salad</li>
					<li>marinated fried tofu</li>
					<li>spiced marinated duck feet (cold)</li>
					<li>spiced marinated duck wing (cold)</li>
					<li>spicy marinated chicken feet (cold)</li>
					<li>vegetarian bean curd roll (cold)</li>
					<li>spicy marinated pig feet (cold)</li>
					<li>jelly fish w/ pig shank</li>
					<li>roasted crispy skin pork belly</li>
					<li>bbq pork</li>
					<li>bbq roasted duck</li>
					<li>spiced marinated duck tongue (cold)</li>
					<li>spicy marinated jelly fish salad (cold)</li>
					<li>seaweed & octopus</li>
					<li>hand roasted suckling pig slices</li>
				</ol>
				<h3 class="subtitle">Chef's Recommendations</h3>
				<ol class='menu'>
					<li>slapped garlic lettuce</li>
					<li>salt & pepper fried calamari</li>
					<li>salt & pepper chicken wing</li>
					<li>honey walnut prawn</li>
					<li>spicy pork blood with chives</li>
					<li>boiled beef tripe with soy sauce</li>
					<li>steamed chicken in herbal broth</li>
					<li>simmer pea sprout with gingko nut</li>
					<li>beef flank rice roll in clay pot</li>
					<li>duck chin w/ maggie sauce</li>
					<li>fried turnip cake in XO chili sauce</li>
					<li>pan fried rice noodle in XO chili sauce</li>
					<li>salt & pepper shrimp</li>
					<li>stuffed eggplant</li>
					<li>stewed beef varieties</li>
					<li>chinese broccoli in oyster sauce</li>
					<li>crispy fried pig intestine</li>
					<li>soy sauce chow mein</li>
					<li>stuffed w/ chili pepper</li>
					<li>salt & pepper fish fillet</li>
					<li>stuffed mushroom</li>
					<li>home style fried vermicelli</li>
					<li>burnt juice cowboy fried rice noodles</li>
					<li>braided abalone over beef chow fun</li>
					<li>dried scallop egg white fried rice</li>
					<li>dried fried beef chow fun</li>
					<li>tai style lobster & abalone pan fried noodle/e-noodle</li>
				</ol>
			</div>
		</div>
	</div>
</div>