<div class='container'>
	<div id='menu'>
		<h2 class="title text-center">Regular Dishes</h2>
		<p class='text-center'>
			Our regular menu is available throughout the day, offering excellent choices for a quick and convenient takeaway lunch or as a satisfying addition to your meal if dim sum doesn't quite hit the spot.
		</p>
		<div class='row'>
			<div class='col-sm-12 col-md-4'>
				<h3 class="subtitle">Appetizers</h3>
				<ol class="menu">
					<li>fried vegetarian egg rolls (6)</li>
					<li>deep fried won ton w/ meat (12)</li>
					<li>pot stickers(pork) (6)</li>
					<li>Mu shu pork/chicken</li>
					<li>sesame chicken salad</li>
					<li>fried chicken wings in special chili garlic sauce (8)</li>
					<li>
						fried chicken wings in salt and pepper basil sauce (10)
					</li>
					<li>
						deep fried jumbo prawns (12)
					</li>
					<li>
						salt and pepper fried cuttlefish
					</li>
					<li>
						fried duck chin in maggie sauce
					</li>
					<li>five special sauce duck wings</li>
					<li>five special sauce fried tofu</li>
					<li>sliced bbq pork</li>
					<li>marinated pig knuckle and jelly fish</li>
					<li>five spice beef shank slice</li>
					<li>charbroiled bbq pork neck sliced</li>
					<li>garlic fried oyster</li>
				</ol>
				<h3 class="subtitle">Barbecue</h3>
				<ol class="menu">
					<li>hand roasted suckling piglet (half or whole)
					</li>
					<li>suckling piglet combination platter</li>
					<li>seaweed, jelly fish, cucumber salad combo</li>
					<li>lucky five bbq combo platter</li>
					<li>sliced suckling piglet</li>
					<li>bbq pork with chicken or duck platter (small or large)</li>
					<li>bbq pork w/ chicken and duck platter</li>
					<li>roasted duck</li>
					<li>peking duck</li>
					<li>hand tossed chicken salad</li>
					<li>roasted soya marinated chicken</li>
					<li>house special tea smoked chicken</li>
					<li>medallion simmer free ranch chicken (half or whole)</li>
					<li>roasted squad</li>
					<li>medallion roasted squad</li>
					<li>pork belly with chicken</li>
				</ol>
				<h3 class="subtitle">Rice & Noodle</h3>
				<ol class="menu">
					<li>ground beef egg white fried rice w/ gilantro</li>
					<li>yang chow fried rice</li>
					<li>salted fish w/ chicken fried rice</li>
					<li>dried scallop egg white fried rice</li>
					<li>fujian style fried rice</li>
					<li>egg white fried rice with dried scallop & salted fish</li>
					<li>yin yang style fried rice</li>
					<li>house special fried rice</li>
					<li>chow fun with beef</li>
					<li>bitter melon beef chow fun in gravy</li>
					<li>home style fried rice noodle</li>
					<li>singapore style fried rice noodle</li>
					<li>pan fried noodle with beef and mushroom</li>
					<li>chicken chow mein</li>
					<li>pan fried noodle w/ pork, chicken, and duck</li>
					<li>braised e-fu noodle w/ assorted mushroom</li>
					<li>tossed egg noodle with enoki mushroom in ginger sauce</li>
					<li>house special pan fried noodle or rice noodle</li>
					<li>braised e-fu noodle with fresh crab meat</li>
					<li>seafood pan fried noodle or rice noodle</li>
				</ol>
			</div>
			<div class='col-sm-12 col-md-4'>
				<h3 class="subtitle">Soup</h3>
				<ol class="menu">
					<li>deluxe combination bisque</li>
					<li>sun dried scallop bisque</li>
					<li>fish maw and crab meat soup</li>
					<li>fish maw with seafood bisque</li>
					<li>seafood and chicken wonton soup</li>
					<li>sweet corn and crab meat soup</li>
					<li>sliced chicken mushroom soup</li>
					<li>special soup of the day</li>
					<li>sliced pork with tofu and mustard green soup</li>
					<li>seafood sizzling rice soup</li>
					<li>seafood tofu bisque</li>
					<li>west lake soup (ground beef w/ cilantro & egg white soup)</li>
					<li>sweet corn chicken soup</li>
					<li>hot and sour soup</li>
					<li>wonton soup</li>
				</ol>
				<h3 class="subtitle">Seafood</h3>
				<ol class="menu">
					<li>pan fried head on shrimp in maggie sauce</li>
					<li>salt & pepper fried head on shrimp</li>
					<li>cuttlefish with mushroom in XO chili sauce</li>
					<li>fried cod fillet with mushrooms</li>
					<li>cod fillet in black bean sauce</li>
					<li>salt & pepper cod fillet</li>
					<li>spicy garlic stir fried prawns & scallops</li>
					<li>honey walnut prawns</li>
					<li>kung pao prawns</li>
					<li>sauteed prawns in xo chili sauce</li>
					<li>sauteed prawn & scallop</li>
					<li>kung pao scallop</li>
					<li>curry seafood combination</li>
					<li>sauteed oyster w/ ginger and scallion</li>
					<li>deep fried oysters</li>
					<li>sauteed clams in basil sauce</li>
					<li>sauteed clams aberdeen style</li>
					<li>simmer clams in sake wine broth</li>
					<li>clams in black bean sauce</li>
					<li>deep fried whole flounder</li>
					<li>smoked sea bassw/ honey butter glaze</li>
				</ol>
				<h3 class="subtitle">Live Seafood</h3>
				<ol class="menu">
					<li>spot prawn
						<ul class="menu">
							<li>sashimi</li>
							<li>poached</li>
							<li>pan fried with soya sauce</li>
							<li>minced garlic steamed w/ vermicelli</li>
						</ul>
					</li>
					<li>Crab or Lobster
						<ul class="menu">
							<li>garlic fried</li>
							<li>sauteed in xo chili sauce</li>
							<li>spicy basil sauce</li>
							<li>salt and pepper fried</li>
							<li>garlic steamed w/ vermicelli</li>
							<li>baked in supreme broth</li>
							<li>ginger and scallion</li>
							<li>black bean sauteed</li>
						</ul>
					</li>
					<li>
						geo duck
						<ul class="menu">
							<li>cooking siphon: poached, sashimi, or sauteed</li>
							<li>
								body: soup, salt pepper fried, or rice soup
							</li>
						</ul>
					</li>
					<li>
						fish
						<ul class="menu">
							<li>ginger & scalled steamed</li>
							<li>steamed with black bean sauce</li>
							<li>pan fried</li>
							<li>braised, deep fried</li>
						</ul>
					</li>
				</ol>
			</div>

			<div class='col-sm-12 col-md-4'>
				<h3 class="subtitle">Beef & Pork</h3>
				<ol class="menu">
					<li>broccoli beef</li>
					<li>beef in satay sauce</li>
					<li>mongolian beef</li>
					<li>beef w/ chinese broccoli</li>
					<li>sauteed beef cube in xo chili sauce</li>
					<li>sauteed beef with mushroom in teriyaki sauce</li>
					<li>black pepper and green onion beef</li>
					<li>salt & pepper pork chops</li>
					<li>peking style pork chop</li>
					<li>sweet & sour pork with pineapple</li>
					<li>steamed pork patty with salty fish</li>
					<li>steamed pork with xo</li>
				</ol>
				<h3 class="subtitle">Poultry</h3>
				<ol class="menu">
					<li>lemon chicken</li>
					<li>general chou chicken</li>
					<li>cashew chicken</li>
					<li>kung pao chicken</li>
					<li>curry chicken</li>
					<li>sweet & sour chicken</li>
					<li>string bean chicken in black bean sauce</li>
					<li>sizzling chicken in black bean sauce</li>
				</ol>
				<h3 class="subtitle">Clay Pot</h3>
				<ol class="menu">
					<li>braised mixed veggies with mushroom & vermicelli</li>
					<li>salted fish diced chicken & tofu</li>
					<li>spicy garlic eggplant</li>
					<li>curry beef brisket</li>
					<li>braise beef brisket</li>
					<li>eight treasure combination</li>
					<li>beef brisket</li>
					<li>a bucket of medicated chicken</li>
				</ol>
				<h3 class="subtitle">Vegetable</h3>
				<ol class="menu">
					<li>
						braised tofu with vegetable & mushroom
					</li>
					<li>sauteed string bean in xo chili sauce</li>
					<li>simmer baby bok chou in supreme broth</li>
					<li>simmer choy sum with garlic</li>
					<li>sauteed chinese broccoli in wine sauce</li>
					<li>sauteed chinese lettuce with garlic soya suace</li>
					<li>steamed tofu with minced shrimp in maggie sauce</li>
					<li>braised tamago tofu with mushroom</li>
					<li>sauteed pea sprout with garlic</li>
					<li>buddha delight with bamboo pith and mushroom</li>
					<li>simmer pea sprout with preserved & salty egg</li>
					<li>braised pea sprout w/ crab meat</li>
				</ol>
				<h3 class="subtitle">Dessert</h3>
				<ol class="menu">
					<li>mango pudding</li>
					<li>meng bean coconut milk pduding</li>
					<li>herbal jello</li>
					<li>fried sesame balls</li>
					<li>peanut coated black sesame mochi</li>
					<li>steamed sponge cake</li>
					<li>sea coconut in sweet almond juice</li>
					<li>longevity peach buns (12)</li>
					<li>sweet hashima soup w/ wolfberries</li>
					<li>double bird nest soup in almond juice</li>
					<li>double bird nest soup in coconut milk</li>
					<li>double-boiled hasmar with lotus seeds</li>
				</ol>
			</div>
		</div>
	</div>
</div>