
<div class='container'>
  <div class='content'>
    <div class='row'>
      <div class='col-sm-12 col-md-6 parentCenter'>
        <div class='center'>
          <h2 class='subtitle'>Welcome</h2>
          <p>
            Welcome to Pacific Lighthouse, nestled at 1051 Pacific Marina in Alameda. Indulge in the delights of authentic Cantonese-style dim sum and savor a diverse selection of fresh seafood, from succulent king crab to exquisite sea bass. Our establishment features a welcoming atmosphere and a full bar, providing a perfect setting for you to unwind and enjoy your dining experience. Immerse yourself in the picturesque surroundings with seating options overlooking the Oakland Estuary and the Alameda Yacht Club. We look forward to serving you a delightful blend of culinary excellence and scenic charm at Pacific Lighthouse.
          </p>
          <div class='row' id='welcome'>
            <div class='col-sm-12 col-md-6'>
              <a href='/dim_sum_menu' class='btn btn-outline-secondary btn-md'>DIM SUM MENU</a> 
            </div>
            <div class='col-sm-12 col-md-6'>
              <a href='/food_menu' class='btn btn-outline-secondary btn-md'>REGULAR MENU</a>
            </div> 
          </div>
        </div>
      </div>
      <div class='col-sm-12 col-md-6 parentCenter'>
        <img src="/images/dock.jpeg" style='width:100%;' alt='Chinese dim sum restaurant view of the Oakland Estuary in Alameda Yacht Club'>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-12 col-md-6 parentCenter'>
        <img src="/images/main.jpg" style='width:100%;' alt='Inside of Chinese dim sum restaurant, Pacific Lighthouse, in Alameda.'>
      </div>
      <div class='col-sm-12 col-md-6 parentCenter'>
        <div class='center'>
          <h2 class="subtitle text-center">
            Venue for Any Occasion 
      
          </h2>

          <p>
            Pacific Lighthouse, with its grand real estate, proudly accommodates over 700 guests, making it the ideal venue for a myriad of events, including weddings, birthdays, graduations, and even pre-funeral gatherings. Simplifying the decision-making process, we offer a pre-packaged selection of meticulously curated dishes, customizable to suit both your preferences and your guests' palates.
          </p>
          <p>
            For an authentic Cantonese culinary experience at your event, Pacific Lighthouse stands as one of the largest venues in the East Bay. Our commitment to impeccable service and a diverse array of offerings ensures a memorable and delightful occasion for all.

          </p>

        </div>
      </div>
    </div>
    <br><br>
    <div class='row'>

      <div class='banquetContainer text-center'>
        <div class=''>
          <h2 class="subtitle">Popular Banquet Choices</h2>
        </div>
        <div class='mid'>
          <div class='banqContent'>
            <img src="/images/graduation.png" class='banquetimages'>
            <p class="">Graduations</p>
          </div>
          <div class='banqContent'>
            <img src="/images/funeral.png" class='banquetimages'>
            <p class="">Funerals</p>
          </div>
          <div class='banqContent'>
            <img src="/images/birthday.png" class='banquetimages'>
            <p class="">Birthdays</p>
          </div>
          <div class='banqContent'>
            <img src="/images/holiday.png" class='banquetimages'>
            <p class="">Holidays</p>
          </div>
        </div>
        <p class=''>
          Whether it's a graduation, funeral, corporate gathering, or wedding, our venue provides the ideal setting for your unique occasion, accommodating more than 700 guests. Enjoy our amenities, including a spacious dance floor, a fully stocked bar capable of serving both beer/wine and hard liquor, and karaoke entertainment.
        </p>
        <p>Elevate your next event with a full experience, overlooking the picturesque Alameda delta. Book with us for an unforgettable occasion!</p>
        <a href='/banquet_menu' class='btn btn-outline-secondary btn-md'>VIEW BANQUET MENU</a>

      </div>
    </div>
  </div>
</div>